
<mat-toolbar color="primary">
  
  <mat-toolbar-row>
    <span>Welcome {{userName}} !</span>
    <span class="example-spacer"></span>
    <a mat-raised-button color="primary" [routerLink] = "['/login']" >Logout</a>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Operations</h2>
    <mat-tab-group>
    <mat-tab label="Access Tab">
        
       <app-access-request></app-access-request>
      </mat-tab>
      
      <mat-tab label="Leave Tab">
        
      <app-leave-request></app-leave-request>
      </mat-tab>
      
      
    </mat-tab-group>
  </mat-card-content>
</mat-card>
