<h1 mat-dialog-title>For {{data.user.userName}}</h1>
<div mat-dialog-content>
  <p>Requested dates </p>
  <mat-list>
 <mat-list-item >{{data.startFrom | date: 'dd-MMM-yyyy'}}</mat-list-item>
 <mat-list-item >{{data.endTo | date: 'dd-MMM-yyyy'}}</mat-list-item>
 <mat-list-item ><b>Reason : </b>{{data.reason}}</mat-list-item>
 </mat-list>
 
</div>
<div mat-dialog-actions>
  <button mat-button color="primary"  (click)="accept()">Accept</button>
  <button mat-button color="warning"  (click)="reject()" >Reject</button>
  <button mat-button color="primary"  (click)="onNoClick()" cdkFocusInitial>Cancel</button>
</div>
